*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background: white;
    justify-content: center;
    /*align-items: center;*/
    height: 100vh;
}

h2 {
    text-align: center;
    margin-bottom: 35px;
}

form {
    margin: auto;
    margin-top: 70px;
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px; /* inside padding */
    background: #fff;
    border-radius: 15px; /* edges */
}

input {
    display: block;
    border: 2px solid;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.inline{
    display: inline-block;
    width: 49%;
}

#right{
    float: right;
}

label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}
#space{
    width: 100px;
    height: 70px;
}

button{
    background: #d6d6d6;
    padding: 15px 15px;
    color: black;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-width: 1px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:after { /*after hovering*/
    content: ' » ';
    opacity: 0;
    right: -30px;
    transition: 0.5s;
    position: relative;
}

button:hover {
    padding-right: 20px;
}

button:hover:after {
    opacity: 1;
    right: 0;
}

button:active{ /* when clicked */
    background-color: #808080;
}
