*{
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(135deg, #ffafbd ,#ffc3a0);
    justify-content: center;
 
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 35px;

}

h2::after{
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    background: linear-gradient(135deg, #ffafbd ,#ffc3a0);
    margin: 0 auto;
    margin-bottom: 25px;

}

form {
    margin: auto;
    margin-top: 70px;
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px; /* inside padding */
    background: #fff;
    border-radius: 15px; /* edges */
   
}

input {
    display: block;
    border: 2px solid;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.inline{
    display: inline-block;
    width: 49%;
}

#right{
    float: right;
}

label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}
#space{
    width: 100px;
    height: 70px;
}

button{
   height: 5%;
   width: 100%;
   outline: none;
   color: rgb(68, 65, 65);
   border: none;
   background: linear-gradient(135deg, #ffafbd ,#ffc3a0);
}

button:after { /*after hovering*/
    content: ' » ';
    opacity: 0;
    right: -30px;
    transition: 0.5s;
    position: relative;
}

button:hover {
    padding-right: 20px;
}

button:hover:after {
    opacity: 1;
    right: 0;
}

button:active{ /* when clicked */
    background-color: #808080;
}


