*{
    font-family: 'Poppins' , sans-serif;
}

#entryForm {
    margin:  auto;
    margin-top: 70px;
    width: 570px;
    border: 2px solid #ccc;
    padding: 40px; /* inside padding */
    background: #fff;
    border-radius: 15px; /* edges */
    color:rgb(68, 65, 65)
}

#header{
    text-align: center;
    font-size: large;
    background-color : #3d85c6;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#space{ 
    width: 100px;
    height: 70px;
}

h2 {
    font-size: 24px;
    text-align: center;
    color:rgb(68, 65, 65);
}

h2::after{
    content: "";
    display: block;
    width: 250px;
    height: 3px;
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    margin: 0 auto;
    margin-bottom: 25px;
}


input {
    display: block;
    border: 2px solid #ccc;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.form-group {
    margin: 10px auto;
    border-radius: 5px;
}

/* have the submit color as #8ee8d8a0 */
.btn-primary {
    background-color: #8e8d8a;
    border-color: #8e8d8a;
    color: black;
}

.table{
    margin: auto;
    width: 600px;
    border: 2px solid #ccc;
    padding: 30px; 
    background: #fff;
    border-radius: 15px;
    color: rgb(68, 65, 65);
    border: 0;
}
 
td{
    border: none;
}
