*{
    font-family: 'Poppins' , sans-serif;
}

#entryForm {
    margin:  auto;
    /* margin-top: 70px;
    margin-bottom: 70x; */
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px; /* inside padding */
    background: #fff;
    border-radius: 15px; /* edges */
    color:rgb(68, 65, 65)
}

#header{
    text-align: center;
    font-size: large;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.form-group {
    margin: 10px auto;
    border-radius: 5px;
}

/* have the submit color as #8ee8d8a0 */
.btn-primary {
    background-color:#004e92;
    border:none;
    color: black;
}

.table{
    margin: auto;
    width: 600px;
    border: 2px solid #ccc;
    padding: 30px; 
    background: #fff;
    border-radius: 15px;
    color: rgb(68, 65, 65);
    border: 0;
}
 
td{
    border: none;
}

/*change the text color in the modal of when purchased is clicked*/

.modal-content{
    color: black;

}
.modal-header{
    background-color: #3d85c6;;
    color: white;

}
/*change the border-radius of the modal to 10px*/
.modal-dialog{
    border-radius: 50px;
}









